<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winebouti.mapper.MemberMapper">
	<resultMap id="MemberResultMap" type="com.winebouti.vo.MemberVO">
	    <id property="memberId" column="member_id"/>
	    <result property="username" column="username"/>
	    <result property="password" column="password"/>
	    <result property="email" column="email"/>
	    <result property="address" column="address"/>
	    <result property="zipcode" column="zipcode"/>
	    <result property="phoneNumber" column="phone_number"/>
	    <result property="profileImageName" column="profile_image_name"/>
	    <result property="realProfileImageName" column="real_profile_image_name"/>
	    
	    <!-- AuthVO 리스트를 위한 SubResultMap -->
	    <collection property="auths" ofType="com.winebouti.vo.AuthVO">
	        <result property="username" column="username"/>
	        <result property="auth" column="auth"/>
	    </collection>
	</resultMap>


    <insert id="save" parameterType="com.winebouti.vo.MemberVO">
        INSERT INTO member (email, password, username, address, zipcode, phone_number)
        VALUES (#{email}, #{password}, #{username}, #{address}, #{zipcode}, #{phoneNumber})
    </insert>
    <!-- 회원 정보 수정 -->
    <update id="update" parameterType="com.winebouti.vo.MemberVO">
        UPDATE member
        SET
        	username = #{username},
        	address = #{address},
        	zipcode = #{zipcode},
        	phone_number = #{phoneNumber}
        WHERE email = #{email} and password = #{password}
    </update>
    <insert id="grantAuth" parameterType="com.winebouti.vo.MemberVO">
        INSERT INTO auth (auth, username)
        VALUES ('user', #{username})
    </insert>
    


    <!-- 회원 삭제 -->
    <delete id="delete" parameterType="long">
        DELETE FROM member WHERE id = #{id}
    </delete>

    <!-- 이메일로 회원 조회 -->
    <select id="findByMemberEmail" resultMap="MemberResultMap" parameterType="String">
	    SELECT m.member_id, m.username, m.password, m.email, m.address, m.zipcode, m.phone_number,
	           m.profile_image_name, m.real_profile_image_name, 
	           a.auth
	    FROM member m
	    LEFT JOIN auth a ON m.username = a.username
	    WHERE m.email = #{loginEmail}
	</select>
</mapper>