<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.winebouti.mapper.ProductMapper">
	<!-- 양정민 -->
	<!-- 상품 ID로 상품 조회 -->
	<select id="getProductById"
		resultType="com.winebouti.vo.ProductVO" parameterType="long">
		SELECT *
		FROM
		Product
		WHERE product_id = #{productId}
	</select>

	<!-- 상품 ID로 리뷰 조회 -->
	<select id="getReviewsByProductId" resultType="ReviewVO"
		parameterType="long">
		SELECT *
		FROM Review
		WHERE product_id = #{productId}
	</select>
	<!-- 카테고리를 기준으로 Product 테이블에서 데이터를 조회 -->
	<select id="findProductsByCategory" parameterType="string"
		resultType="com.winebouti.vo.ProductVO">
		SELECT * FROM Product WHERE category = #{category}
	</select>


  <!-- 이창현 -->
  <select id="findRedWines" resultType="WineVO">
    SELECT * FROM Wine
  </select>
 <select id="findWhiteWines" resultType="WineVO">
    SELECT * FROM Wine
  </select>
  
 <select id="findSparkleWines" resultType="WineVO">
    SELECT * FROM Wine
  </select>
  
  <select id="findGiftWines" resultType="WineVO">
    SELECT * FROM Wine
  </select>
   <select id="findpairingWines" resultType="WineVO">
    SELECT * FROM Wine
  </select>
</mapper>
