

/* 로그인 폼 컨테이너 */
.login-form-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px !important; /* 강제로 위쪽 마진 적용 */
}


.login-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* �Է� �ʵ� ��Ÿ�� */
.login-form-container input[type="text"],
.login-form-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s ease;
}

/* �Է� �ʵ� ��Ŀ�� �� ��Ÿ�� */
.login-form-container input[type="text"]:focus,
.login-form-container input[type="password"]:focus {
    border-color: #333;
    outline: none;
     padding: 12px;
}


/* 버튼 기본 색상 */
.login-form-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #333;  /* 버튼 색상 수정 */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 버튼 hover 상태 */
.login-form-container input[type="submit"]:hover {
    background-color: #444; /* hover 시 색상 변화 */
}


/* 회원 가입 텍스트 스타일 */
.login-form-container p {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 5px;
}

.login-form-container p a {
    color: #0080ff; /* 링크 기본 색상 */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-form-container p a:hover {
    color: #333; /* 마우스를 올렸을 때 색상 변화 */
    text-decoration: underline;
}


    /* 성공 메시지 스타일 */
.success-message {
    background-color: #f4f4f4; /* 연한 회색 배경 */
    color: #333; /* 텍스트 색상 */
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
    opacity: 0; /* 초기 상태에서 투명도 설정 */
    animation: fadeIn 0.6s forwards; /* 나타날 때 애니메이션 추가 */
}

/* 메시지 제목 스타일 */
.success-message .message-title {
    font-size: 20px;
    font-weight: bold;
 
}

/* 메시지 부제 스타일 */
.success-message .message-subtitle {
    font-size: 16px;
    font-weight: normal;
    color: #555; /* 조금 더 부드러운 색 */
	margin: 0px;
	margin-bottom: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* 처음에 아래에서 나타나도록 */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
