/* 메인 컨테이너 */
.main-container_update {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* 타이틀 */
.title {
    font-size: 28px;
    color: #2c3e50;
    font-weight: 600;
    margin-bottom: 50psx;
}

/* 레이블 텍스트 왼쪽 정렬 */
.main-container_update form div {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

/* 레이블 스타일 */
.main-container_update label {
    font-size: 16px;
    color: #333;
    display: block;

}

/* 입력 폼 스타일 */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* disabled된 입력 필드 스타일 */
input[disabled] {
    background-color: #f0f0f0;
    color: #7d7d7d;
}

/* 수정 버튼 스타일 */
input[type="button"] {
	width: 100%;
    padding: 12px 20px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/* 수정 버튼 호버 효과 */
input[type="button"]:hover {
    background-color: #333;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
    .main-container_update {
        padding: 20px;
        width: 90%;
    }

    .title {
        font-size: 24px;
    }

    input[type="text"], input[type="password"], input[type="button"] {
        font-size: 14px;
    }
}
